@using YQH.AppStoreRank.BLL.Auth
@using YQH.AppStoreRank.Data.Enums
@{
    string userName = UserAuth.Current.Name;
    AccountType type = (AccountType)UserAuth.Current.GetValue("Type");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理中心</title>
    <link rel="shortcut icon" href="~/Images/favicon.ico" type="image/x-icon" />
    <!-- Css files -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/style.min.css" rel="stylesheet">
    <link href="~/Content/css/add-ons.min.css" rel="stylesheet">
    <link href="~/Content/css/datepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/lib/NProgress/nprogress.css" rel="stylesheet" />
    <link href="~/Scripts/lib/datatimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Scripts/lib/datatimepicker/bootstrap-datetimepicker-custom.css" rel="stylesheet" />
    <style>
        .pagination a {
            display: block;
            float: left;
            width: 50px;
            padding: 8px 10px;
            margin-right: 5px;
            height: 35px;
            text-decoration: none;
            border: 1px solid #ddd;
            text-align: center;
            vertical-align: middle;
            box-shadow: #ddd 1px 1px 2px;
            color: #333;
        }

            .pagination a:hover, .pagination a.Active {
                background-color: #383434;
                color: #fff;
            }
    </style>
    <style>
        .shareadd {
            float: left;
            width: 100px;
            height: 100px;
            text-align: center;
            border: 2px dashed #ccc;
            cursor: pointer;
            font-size: 50px;
            line-height: 100px;
            color: #ccc;
        }

        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body>
    <!-- start: Header -->
    <div class="navbar" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-actions navbar-left">
                <li class="visible-md visible-lg"><a href="##" id="main-menu-toggle"><i class="fa fa-th-large"></i></a></li>
                <li class="visible-xs visible-sm"><a href="##" id="sidebar-menu"><i class="fa fa-navicon"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="color: #333"><i class="fa fa-user"></i>亲爱的 @userName (@type.ToString()) ，您好</a></li>
                <li><a href="/Account/Logout"><i class="fa fa-power-off"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- end: Header -->
    <div class="container-fluid content">
        <div class="row">
            <!-- start: Main Menu -->
            <div class="sidebar ">
                <div class="sidebar-collapse">
                    <div class="sidebar-header t-center" style="height: auto;">
                        <span><img class="text-logo" style="width:240px;" src="~/Content/images/appstore.jpg"></span>
                    </div>
                    <div class="sidebar-menu">

                        <ul class="nav nav-sidebar">
                            <li>
                                <a href="#"><i class="fa fa-users"></i><span class="text"> 用户管理</span><span class="fa fa-angle-down pull-right"></span></a>
                                <ul class="nav sub">
                                    <li><a href="/Account/List"><i class="fa fa-users"></i><span class="text"> 用户列表</span></a></li>
                                    <li><a href="/Account/ChangePassword"><i class="fa fa-users"></i><span class="text"> 修改密码</span></a></li>
                                    <li><a href="/Account/Add"><i class="fa fa-users"></i><span class="text"> 添加用户</span></a></li>
                                    <li><a href="/Account/Operation"><i class="fa fa-users"></i><span class="text"> 账户金额修改记录</span></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-shopping-bag"></i><span class="text"> 应用管理</span><span class="fa fa-angle-down pull-right"></span></a>
                                <ul class="nav sub">
                                    <li><a href="/Application/List"><i class="fa fa-shopping-bag"></i><span class="text"> 应用列表</span></a></li>
                                    <li><a href="/Application/Add"><i class="fa fa-shopping-bag"></i><span class="text"> 添加应用</span></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-comments"></i><span class="text"> 评论管理</span><span class="fa fa-angle-down pull-right"></span></a>
                                <ul class="nav sub">
                                    <li><a href="/Comment/List"><i class="fa fa fa-comments"></i><span class="text"> 评论列表</span></a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-tasks"></i><span class="text"> 任务管理</span><span class="fa fa-angle-down pull-right"></span></a>
                                <ul class="nav sub">
                                    <li><a href="/TaskInfo/Add"><i class="fa fa-file-text"></i><span class="text"> 添加/修改任务</span></a></li>
                                    <li><a href="/TaskInfo/List"><i class="fa fa-file-text"></i><span class="text"> 任务记录</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tasks"></i><span class="text"> 订单管理</span><span class="fa fa-angle-down pull-right"></span></a>
                                <ul class="nav sub">
                                    <li><a href="/OrderInfo/List"><i class="fa fa-file-text"></i><span class="text"> 订单记录</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tasks"></i><span class="text"> 财务中心</span><span class="fa fa-angle-down pull-right"></span></a>
                                <ul class="nav sub">
                                    <li><a href="/Withdraw/Index"><i class="fa fa-file-text"></i><span class="text"> 提现管理</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sidebar-footer">
                    <div class="copyright text-center">
                        <small>Copyright © 律博园</small>
                    </div>
                </div>
            </div>
            <!-- end: Main Menu -->
            <!-- start: Content -->
            @RenderBody()
            <!-- end: Content -->
        </div><!--/container-->
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Warning Title</h4>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="clearfix"></div>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/Scripts/jquery-2.1.1.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/lib/NProgress/nprogress.js"></script>
    @Html.Partial("Scripts/_Angular")
    <script src="~/Scripts/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Scripts/plugins/moment/moment.min.js"></script>
    <script src="~/Scripts/plugins/xcharts/js/xcharts.min.js"></script>
    <script src="~/Scripts/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="~/Scripts/plugins/placeholder/jquery.placeholder.min.js"></script>
    <script src="~/Scripts/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <!-- theme scripts -->
    <script src="~/Scripts/ui.js"></script>
    <script src="~/Scripts/datepicker.min.js"></script>
    <script src="~/Scripts/lib/datatimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/lib/datatimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/SmoothScroll.js"></script>
    <script src="~/Scripts/jquery.mmenu.min.js"></script>
    <script src="~/Scripts/core.min.js"></script>
    <script src="~/Scripts/plugins/d3/d3.min.js"></script>
    <!-- inline scripts related to this page -->
    <script src="~/Scripts/pages/index.js"></script>
    <!-- end: JavaScript-->
    @RenderSection("scripts", required: false)
</body>
</html>
